.item {
    min-width: 200px;
    flex: 25%;
    margin:2%;
    border: 1px;
    background-color: white;
    padding: 3% 1% 1% 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item:hover{
    box-shadow: 0 4px 8px 0 #ff2a39, 0 6px 20px 0 #ff2a39;
}

.test{
    padding-top: 1%;
    font-size: 1em;
    font-weight: 600;
}

.test:hover{
    color: #ff2a39;
}

.lasttext1{
    font-size: 1em;
    color: gray;
}

.lasttext{
    font-size: .73em;
    color: gray;
}

.nspace{
    margin-top: 2%;
}